* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

/* .cstm-color{
  background-color: #00A0BD;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cstm-style {
  display: grid;
}


.cstm-header {
  display: flex;
  align-items: center;
}

.cstm-header span {
  margin-left: 5px;
}

.poster-image img {
  border-radius: 30px;
  width: 20px;
}

.cstm-nav {
  background-color: #00A0BD;
  justify-content: center !important;
}

.cstm-head {
  display: flex;
  justify-content: center;
}

.cstm-head h2 {
  text-transform: uppercase;
  margin: 30px 0px;
  text-align: center;
  border: 2px solid;
  font-family: auto;
  font-size: 16px;
  background: #ffffff;
  color: RED;
  border-radius: 8px;
  padding: 10px;
  width: 450px;

}

.navbar>.container-fluid {
  justify-content: center;
}

.login-box {
  margin: 0 auto;
  width: 450px;
  padding: 40px;
  background: #00A0BD;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.cstm-form-two {

  box-shadow: none;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #FFFFFF;
  font-size: 12px;
}

.login-box .submit-btn a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 5px;
  letter-spacing: 4px;
  background: #ed1c24;

}

.login-box .submit-btn a:hover {
  background: #03e9f442;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.submit-btn {
  text-align: center;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FFFFFF);
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FFFFFF);
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FFFFFF);
}


.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FFFFFF);
}

.cstm-coupne p {
  color: #ffffff;
}

.cstm-coupne a {
  color: #ed1c24;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
}

/* KEYFRAMES */

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* USING KEYFRAMES */

.login-box a span:nth-child(1) {
  animation: btn-anim1 1s linear infinite;
}

.login-box a span:nth-child(2) {
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

.login-box a span:nth-child(3) {
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

.login-box a span:nth-child(4) {
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

.form-select {
  background: none;
  color: #ffffff;
  border: none;
  padding-left: 0;

  margin-bottom: 30px;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
}

.form-select:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}


select option {
  color: black;
}

.cstm-footer {
  display: flex;
  justify-content: center;

}

.cstm-footer p {
  margin-bottom: 0;
  color: #ffffff;
  margin: 20px 0px;
}

.cstm-coupen-tag p {
  margin-bottom: 0;
  color: #FFFFFF;
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
}


.cstm-card ul {
  list-style-type: none;
}

.cstm-card-box {
  display: flex;
}

.cstm-pay-btn {
  display: flex;
  justify-content: center;
  /* margin-top: 30px; */
}

.cstm-pay-btn a {
  width: 200px;
}

.line-cross {
  text-decoration: line-through;
}



.cstm-heading h2 {
  display: flex;
  justify-content: center;
  color: rgb(56, 176, 131);
  margin-top: 30px;
}

.cstm-heading-failure h2 {
  display: flex;
  justify-content: center;
  color: rgb(236, 78, 75);
  margin-top: 30px;
}

/* success end css */

footer {
  /* position: fixed; */
  bottom: 0;
  background-color: #00A0BD;
  width: 100%;
  margin-top: 30px;

}

.cstm-footr {
  position: fixed;

}

.cstm-footr-two {
  position: unset;
}

.main-border {
  border: 2px solid RED;
  width: 490px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.cstm-height {
  height: 100px;
}

.cstm-height-payment {
  height: 100px;
}

.cstm-btn-payment {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cstm-btn-payment a {
  margin-right: 5px;
}


/* Payment success and failure css start */

/*Actual Style*/

/*=======================
       C-Container
=========================*/
.c-container {
  max-width: 27rem;
  margin: 1rem auto 0;
  padding: 1rem;
}

/*=======================
         O-Circle
  =========================*/

.o-circle {
  display: flex;
  width: 10.555rem;
  height: 10.555rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
  animation: circle-appearance .8s ease-in-out 1 forwards, set-overflow .1s 1.1s forwards;
}

.c-container__circle {
  margin: 0 auto 0.5rem;
}

/*=======================
      C-Circle Sign
  =========================*/

.o-circle__sign {
  position: relative;
  opacity: 0;
  background: #fff;
  animation-duration: .8s;
  animation-delay: .2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.o-circle__sign::before,
.o-circle__sign::after {
  content: "";
  position: absolute;
  background: inherit;
}

.o-circle__sign::after {
  left: 100%;
  top: 0%;
  width: 500%;
  height: 95%;
  transform: translateY(4%) rotate(0deg);
  border-radius: 0;
  opacity: 0;
  animation: set-shaddow 0s 1.13s ease-in-out forwards;
  z-index: -1;
}


/*=======================
        Sign Success
  =========================*/

.o-circle__sign--success {
  background: rgb(56, 176, 131);
}

.o-circle__sign--success .o-circle__sign {
  width: 1rem;
  height: 6rem;
  border-radius: 50% 50% 50% 0% / 10%;
  transform: translateX(130%) translateY(35%) rotate(45deg) scale(.11);
  animation-name: success-sign-appearance;
}

.o-circle__sign--success .o-circle__sign::before {
  bottom: -17%;
  width: 100%;
  height: 50%;
  transform: translateX(-130%) rotate(90deg);
  border-radius: 50% 50% 50% 50% / 20%;

}

/*--shadow--*/
.o-circle__sign--success .o-circle__sign::after {
  background: rgb(40, 128, 96);
}


/*=======================
        Sign Failure
  =========================*/

.o-circle__sign--failure {
  background: rgb(236, 78, 75);
}

.o-circle__sign--failure .o-circle__sign {
  width: 1rem;
  height: 7rem;
  transform: translateY(25%) rotate(45deg) scale(.1);
  border-radius: 50% 50% 50% 50% / 10%;
  animation-name: failure-sign-appearance;
}

.o-circle__sign--failure .o-circle__sign::before {
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%) rotate(90deg);
  border-radius: inherit;
}

/*--shadow--*/
.o-circle__sign--failure .o-circle__sign::after {
  background: rgba(175, 57, 55, .8);
}


/*-----------------------
        @Keyframes
  --------------------------*/

/*CIRCLE*/
@keyframes circle-appearance {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

/*SIGN*/
@keyframes failure-sign-appearance {
  50% {
    opacity: 1;
    transform: translateY(25%) rotate(45deg) scale(1.7);
  }

  100% {
    opacity: 1;
    transform: translateY(25%) rotate(45deg) scale(1);
  }
}

@keyframes success-sign-appearance {
  50% {
    opacity: 1;
    transform: translateX(130%) translateY(35%) rotate(45deg) scale(1.7);
  }

  100% {
    opacity: 1;
    transform: translateX(130%) translateY(35%) rotate(45deg) scale(1);
  }
}


@keyframes set-shaddow {
  to {
    opacity: 1;
  }
}

@keyframes set-overflow {
  to {
    overflow: hidden;
  }
}

/* Payment success and failure css end */

.hidden {
  display: none;
}

.cstm-card-style p {
  margin-bottom: 0;
}

.cstm-summary {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding-bottom: 10px;
}

.cstm-summary:last-child {
  border-bottom: none;
}

.cstm-summary h5 {
  margin-bottom: 0;
}

.cstm-poster img {
  width: 110px;
}

.cstm-card-footer p {
  margin-bottom: 0;
}

.cstm-link-list ul {
  list-style-type: none;
  display: flex;
  color: #ffffff;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: center;
}

.cstm-link-list ul li {
  margin-right: 15px;
}

.cstm-link-list ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.cstm-link-list ul li a:hover {
  color: #ed1c24;
}

.cstm-link-list p {
  color: #FFFFFF;
  margin-bottom: 5px;
}

.cstm-footr {
  padding: 10px 0;
}

.cstm-main-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.rigth-section p {
  margin-bottom: 5px;
  color: #FFFFFF;
  text-align: center;
}

.rigth-section ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.rigth-section ul li {
  margin-right: 10px;
}

.rigth-section ul li a {
  color: #FFFFFF;
}

.rigth-section ul li a:hover {
  color: #ed1c24;
}

.cstm-card-topbtn {
  justify-content: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  footer {
    position: relative;
    margin-top: 30px;
  }

  .cstm-footr {
    position: relative;
  }

  .login-box {
    width: 320px;
  }

  .cstm-head h2 {
    width: 350px;
  }

  .cstm-footer p {
    font-size: 14px;
  }

  .cstm-main-footer {
    display: block;
  }

  .main-border {
    width: 360px;
  }

  .cstm-link-list p {
    text-align: center;

  }

  .cstm-link-list ul {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
  }

  .cstm-link-list ul li {
    margin-bottom: 10px;
  }

  .rigth-section ul {
    justify-content: center;
  }
}